[Unit]
Description=Minimal Picam Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/minimal-picam-server/minimal-picam-server.py
WorkingDirectory=/home/pi/minimal-picam-server
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
